body{
  margin: 0;
}
.container{
  background: black;
  padding: 1rem;
  margin: 1rem;
}
.draggable{
  padding: 1rem;
  background: white;
  border: 1px solid black;
  cursor: move;
}
.draggable .dragging{
  opacity: .5;
}